/* Global Settings */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap:100,200,300,400,500,600,700|Roboto+Mono:300&display=swap:100,200,300,400,500,600,700|');

body {
    background-image: url(../images/coffee.jpg);
    background-position: left; /* This is how I can move photo left/right - must be below bg-size to work!! */
    background-size: cover;
}

/* #experiment {
    background: transparent !important;
} */

#asdf {
    max-width: 60%;
}