* {
    box-sizing: border-box;
}
/* A tip from Web Dev Simplified, makes it easier to work with width, border, padding, margins etc. */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;  /* To get rid of scrollbar */
    background-color: white;
}

 .quote-display {
    font-family: fantasy;
}
.quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: rgb(235, 234, 229);
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    height: 300px;
    max-width: 90%;
}

.timer {
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    font-weight: bold;
}

.quote-display {
    margin-bottom: 1rem;
}

.quote-input {
    border: solid 2px rgb(201, 84, 84); 
    outline: none; /* Removes textarea blue outline */
    width: 100%;
    height: 10rem; /* Gives enough room for longer quotes */
    margin: auto; /* Ensures input area always stays centered */
    resize: none; /* Input box can't be resized by user */
    padding: .5rem 1rem;
}

.quote-input:focus {
    border-color: black; /* Let's user know they are in focus and ready to start typing */
}