/* Global Settings */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap:100,200,300,400,500,600,700|Roboto+Mono:300&display=swap:100,200,300,400,500,600,700|');

body {
    background-image: url(../images/coffee.jpg);
    background-position: left; 
   /* background-size: cover;  Alternate use of photo, maybe too busy but worth keeping idea */
}

/* #experiment {
    background: transparent !important;
} */

#asdf {
    max-width: 60%;
}

#form {
    width: 100%;
    border: 2px solid rgb(158, 31, 31);
    
}